/* .vitepress/theme/var.css */
/* Customize Lumen theme variables */

:root {
  /* Lumen theme customization example */
  /* --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff; */

  /* Uncomment and modify as needed:
  --lm-Notice-bg: var(--vp-button-alt-bg);
  --lm-Notice-bg-hover: var(--vp-c-brand-soft);
  --lm-button-author: url('path-to-your-author-image.webp');
  --lm-button-logo: url('path-to-your-logo.svg');
  */
}
